:root {
  --border-color: #e5e7eb;
  --hover-color: #f9fafb;
  --text-primary: #111827;
  --text-secondary: #4b5563;
  --accent-color: #f97316;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
}

@keyframes tes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  min-height: 100vh;
  width: 100%;
}

main {
  width: calc(100% - 270px);
  min-height: 100vh;
  padding: 30px 60px;
  margin-top: 70px;
  margin-left: 270px;
  transition: all 0.4s ease;
  /* animation: tes 1.25s ease; */
}

.main-section {
  margin-top: 30px;
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.ktp-container {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 22.5px;
  text-align: left;
  position: relative;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 8px;
  top: -1rem;
}

.ktp-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 50 L60 40 L50 30 L40 40 Z' fill='%23f0f0f0' fill-opacity='0.4'/%3E%3C/svg%3E");
  opacity: 0.1;
  z-index: 0;
}

.ktp-header {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.ktp-header h1 {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  margin-bottom: 15px;
}

.ktp-content {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.ktp-data {
  width: 65%;
}

.ktp-photo-section {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ktp-photo {
  width: 180px;
  height: 240px;
}

.ktp-container table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.ktp-container table tr {
  vertical-align: top;
  border: none;
}

.ktp-container table td {
  padding: 7px 0;
}

.ktp-container .label {
  width: 40%;
  font-weight: normal;
}

.ktp-container .colon {
  width: 5%;
}

.value {
  width: 60%;
  font-weight: bold;
}
